<style>
    .jumbotron {
        background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url('https://i.imgur.com/IKi1fgx.jpg');
        background-size: cover;
        height: 300px;
    }
</style>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-2 text-white text-bold ">Welcome to The Album Spot!</h1>
     
    </div>
</div>

<div class="container">
    <div class="row justify-content-around">
      <div class="col-md-5">
        <h2>Your Album Collection</h2>
        <p>Search the Spotify database by Artist and add albums to your collection.  If you have a Spotify account, you can listen to albums in your collection. You can review your albums and read reviews written by other Album Spotters. You can visit the Review page, see what others are listening to, read their reviews, and add those albums to your collection, too. Sign up or log in and have fun!</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-5">
        <h2>Read Reviews</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
</div>



