
<div class="container">
    <h1>Album reviews page</h1>
    <div class="row">
        <% @reviews.each do |review| %>        
            <div class="col-md-8">
                <div class="card  mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title"><%= review.title %></h5>
                        <p class="card-text">by <%= review.user_album.user.username %><br>
                            <%= render partial: "stars", locals: { stars: review.stars } %>
                        </p>
                        <p><%= review.content %></p>
                        
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>