<div class="container">

    <h2 class="page-header mt-4">Review for <%= @user_album.album.name %></h2>
    <!-- add artist name and center text and image. Put in div and maybe 6 colums wide-->

    <p><img src=<%= @user_album.album.image %> alt="" height="200" width="200"></p>

    
    <%= render partial: 'form' %>
   
  
</div>
